<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx.website.dao.EstoreMapper" >
  <resultMap id="BaseResultMap" type="Estore" >
    <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    goods_id, goods_name, category, `describe`, price
  </sql>
  
  <select id="queryAllEstore" resultMap="BaseResultMap"> 
  	select * from estore
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from estore
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  
   <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from estore
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from estore
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Estore" >
    insert into estore (goods_name, category, 
      `describe`, price)
    values (#{goodsName,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="Estore" >
    insert into estore
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="describe != null" >
        `describe`,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Estore" >
    update estore
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Estore" >
    update estore
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>