.container {
	padding: 0 15px;
}

form legend {width: auto}

.form-text {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  vertical-align: middle;
}

.box{
	vertical-align:middle;
	float: left;
}

.title {
	font-size: 18px;
	font-weight: bold;
	background: 
}





